{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}تیکت ها{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/app-chat.js' %}"></script>
{% endblock page_js %}

{% block content %}

{% endblock %}
