{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}جداول داده‌ای - ویژگی‌های پیشرفته{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-select-bs5/select.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedcolumns-bs5/fixedcolumns.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/datatables-fixedheader-bs5/fixedheader.bootstrap5.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/tables-datatables-extensions.js' %}"></script>
{% endblock page_js %}

{% block content %}
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">{% translate "Datatables" %} /</span> {% translate "Extensions" %}
</h4>

<!-- Scrollable -->
<div class="card">
  <h5 class="card-header">جدول قابل پیمایش</h5>
  <div class="card-datatable text-nowrap">
    <table class="dt-scrollableTable table">
      <thead>
      <tr>
        <th>نام</th>
        <th>موقعیت</th>
        <th>ایمیل</th>
        <th>شهر</th>
        <th>تاریخ</th>
        <th>حقوق</th>
        <th>سن</th>
        <th>تجربه</th>
        <th>وضعیت</th>
        <th>اقدام</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<!--/ Scrollable -->
<hr class="my-5"/>
<!-- Fixed Header -->
<div class="card">
  <h5 class="card-header">سرتیتر ثابت</h5>
  <div class="card-datatable table-responsive">
    <table class="dt-fixedheader table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>شناسه</th>
        <th>نام</th>
        <th>ایمیل</th>
        <th>تاریخ</th>
        <th>حقوق</th>
        <th>وضعیت</th>
        <th>اقدام</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th>شناسه</th>
        <th>نام</th>
        <th>ایمیل</th>
        <th>تاریخ</th>
        <th>حقوق</th>
        <th>وضعیت</th>
        <th>اقدام</th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<!--/ Fixed Header -->
<hr class="my-5"/>
<!-- Fixed Columns -->
<div class="card">
  <h5 class="card-header">پیمایش افقی</h5>
  <div class="card-datatable text-nowrap">
    <table class="dt-fixedcolumns table table-bordered">
      <thead>
      <tr>
        <th>نام</th>
        <th>موقعیت</th>
        <th>ایمیل</th>
        <th>شهر</th>
        <th>تاریخ</th>
        <th>حقوق</th>
        <th>سن</th>
        <th>تجربه</th>
        <th>وضعیت</th>
        <th>اقدام</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<!--/ Fixed Columns -->
<hr class="my-5"/>
<!-- Select -->
<div class="card">
  <h5 class="card-header">سطرهای قابل انتخاب</h5>
  <div class="card-datatable dataTable_select text-nowrap">
    <table class="dt-select-table table">
      <thead>
      <tr>
        <th></th>
        <th>نام</th>
        <th>موقعیت</th>
        <th>ایمیل</th>
        <th>شهر</th>
        <th>تاریخ</th>
        <th>حقوق</th>
        <th>وضعیت</th>
      </tr>
      </thead>
    </table>
  </div>
</div>
<!--/ Select -->

{% endblock %}
