{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}صفحات - فراموشی رمز{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/pages-auth.js' %}"></script>
{% endblock page_js %}

{% block content %}
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">
      <!-- Forgot Password -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center mb-4 mt-2">
            <a href="{% url 'index' %}" class="app-brand-link gap-2">
              <span class="app-brand-logo demo">{% include 'partials/logo.html' with height=20 bgcolor="fill: #fff;" %}</span>
              <span class="app-brand-text demo text-body fw-bold">{% get_theme_variables 'template_name' %}</span>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-1 pt-2">رمز عبور را فراموش کرده اید؟ 🔒</h4>
          <p class="mb-4">ایمیل خود را وارد کنید و ما لینکی را جهت ثبت رمز جدید برای شما ارسال می کنیم</p>
          <form id="formAuthentication" class="mb-3" action="{% url 'auth-reset-password-basic' %}" method="GET">
            <div class="mb-3">
              <label class="form-label" for="email">ایمیل</label>
              <input autofocus class="form-control" id="email" name="email" placeholder="ایمیل خود را وارد کنید" type="text"/>
            </div>
            <button class="btn btn-primary d-grid w-100">ارسال لینک</button>
          </form>
          <div class="text-center">
            <a href="{% url 'auth-login-basic' %}" class="d-flex align-items-center justify-content-center">
              <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
              بازگشت به صفحه ورود
            </a>
          </div>
        </div>
      </div>
      <!-- /Forgot Password -->
    </div>
  </div>
</div>
{% endblock content %}
